# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock
poetry.toml

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/

# pytype
.pytype/

# --------------------
# PyCharm / JetBrains
# --------------------
# IDE settings
.idea/

# JetBrains-specific
#.idea/**/workspace.xml         # (Uncomment to ignore workspace-specific settings)
#.idea/**/tasks.xml
#.idea/**/dictionaries
#.idea/**/shelf

# File-based project format
*.iml

# User-specific stuff
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Datasource local storage
.idea/**/dataSources/
.idea/**/dataSources.local.xml

# Local history
.idea/**/localHistory/

# JetBrains caches
.idea/**/libraries

# --------------------
# OS Files
# --------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
